html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #272b36;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: darkgray;
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  line-height: 1.6;
}
header {
  height: 240px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 240px;
  height: 240px;
  padding: 10px;
  justify-content: space-between;
}
.rrss {
  list-style: none;
  display: flex;
}
.rrss img {
  width: 60px;
  height: 60px;
  background-color: #4a5568;
  border-radius: 10px;
}
nav {
  width: 100%;
}
nav ul {
  float: right;
  padding: 5px;
}
nav ul li {
  display: inline-block;
  padding: 5px;
}
main {
  background-color: #272b36;
  width: 100%;
  height: 100%;
}
.container-main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.container-main .card-main {
  width: 850px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container-main .card-main:hover {
  transform: rotateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-main .card-main img {
  width: 850px;
  height: 450px;
}
.container-main .card-main h4 {
  font-weight: 600;
}
.container-main .card-main p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
section {
  background-color: #272b36;
  width: 100%;
  height: 100%;
  min-height: 1700px;
  overflow: auto;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  font-weight: 100;
}
.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.container .card {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card:hover {
  transform: rotateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 350px;
  height: 250px;
}
.container .card h4 {
  font-weight: 600;
}
.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card audio {
  width: 300px;
}
footer {
  width: auto;
  text-align: right;
  background-color: #4a5568;
  font-family: "Ubuntu", sans-serif;
}
