body {
  background-color: #272b36;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: darkgray;
  width: auto;
  align-items: center;
}
header {
  align-items: center;
  width: auto;
}
.row .col-md-6 .card {
  background-color: #272b36;
  padding: 0;
  border: 0;
  width: auto;
}
.col-md-3 {
  width: 100%;
}
.row .col-xs-1 .card {
  background-color: #4a5568;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 15px;
  border-radius: 15px;
  align-items: center;
}
main {
  text-align: center;
}
.row .col-md-12 .card {
  height: 1000px;
  width: 100%;
  text-align: center;
  background-color: #272b36;
  margin: 15px;
}
.row .col-md-12 .card .card-img {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.card-img {
  width: auto;
  height: 100%;
  opacity: 0.3;
}
section {
  background-color: #272b36;
  width: 100%;
  display: flex;
  *flex-direction: row;
  *flex-wrap: wrap;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.covers {
  width: 100%;
  max-width: 400px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  *flex-flow: wrap row;
  text-align: center;
  align-items: center;
  *align-content: center;
  justify-content: space-between;
  box-sizing: content-box;
  border-radius: 10px;
  padding: 5px;
}
.card-img-cover {
  opacity: 0.3;
}
footer {
  width: auto;
  text-align: right;
  background-color: #4a5568;
  font-family: "Ubuntu", sans-serif;
}
