body {
  background-color: #272b36;
}
header {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 3434334;
}
.row .col-md-6 .card {
  background-color: #272b36;
  padding: 0;
  margin-right: a;
  border: 0;
  width: 100%;
}
.row .col-xs-2 .card {
  background-color: #4a5568;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 15px;
  display: inline-block;
}
.row .col-xs-2 .card .img-fluid {
  height: 20px;
  width: 20px;
}
footer {
  background-color: #272b36;
}
