body {
  background-color: #272b36;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: darkgray;
}
header {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 3434334;
  height: 250px;
}
.row .col-md-6 .card {
  background-color: #272b36;
  padding: 0;
  margin-right: 2600px;
  border: 0;
  width: 100%;
}
.row .col-xs-2 .card {
  background-color: #4a5568;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 15px;
  display: inline-block;
}
.row .col-xs-2 .card .img-fluid {
  height: 60px;
  width: 60px;
}
.row .col-md-12 .card {
  height: 1000px;
  width: 1000px;
  text-align: center;
  background-color: #272b36;
}
.row .col-md-12 .card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.card-img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
footer {
  text-align: right;
  background-color: #4a5568;
  font-family: "Ubuntu", sans-serif;
}
